rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /links/{linkid} {
      allow get, create, update: if everyone();
    }

    // functions
    function everyone(){
      return true;
    }
  }
}
